<!DOCTYPE html>
<html>
  <head>
    <title>BattleshipWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>

    <main>
      <section class="section-container">
        <p class="flash"><%= flash.notice %></p>
        <%= yield %>
      </section>

      <%= image_tag 'commander.png', alt: 'commander', class: 'banner' %>
    </main>

    <div class="banner-bottom">
    </div>

    <footer>
      <p class="created-by">Anna Royer & Andrew Jeffery</p>
    </footer>

  </body>
</html>
